body {
    font-family: Helvetica; 
    line-height: 1.6;
    background-color: #001d3d; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #003566; 
    color: #ffd60a; 
    padding: 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-style: italic;
}

.container {
    width: 80%;
    margin: 2rem auto; 
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #003566;
    padding-bottom: 1rem;
}

.project h3 {
    color: #2c3e50; 
}






